*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-menu:rgb(247, 212, 18);
    --cor-logo:rgb(197, 197, 197);
    --cor-letra:rgb(54, 54, 54);
    --cor-lhome:rgb(255, 254, 254);
    --cor-hover:rgb(49, 49, 49);
    --cor-hoverL:rgb(247, 215, 34);
    --cor-active:rgb(145, 144, 144);
    --cor-plains:rgb(109, 108, 101);
    --cor-login:rgb(228, 195, 7);
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url('../image/old.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    
}
.containerHome{
    width: 100vw;
    height: 100vh;
    background-image: url('../image/old.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;   

}

.containerLogin{
    width: 100vw;
    height: 100vh;
    /* background-image: url('../image/old.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-color: var(--cor-login);  

    /* background: rgb(1,1,1);
    background: linear-gradient(122deg, rgba(1,1,1,1) 28%, rgba(248,254,15,1) 64%); */

}

.containerPlains{
    width: 100vw;
    height: 100vh;
    /* background-image: url('../image/old.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    display: flex; 
    justify-content: space-around;
    align-items: center;

   background-color: var(--cor-plains);

}

.containerTraining{
    width: 100vw;
    height: 100vh;
    /* background-image: url('../image/old.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    display: flex; 
    justify-content: space-around;
    align-items: center;

    background: rgb(37,37,37);
    background: linear-gradient(262deg, rgba(37,37,37,0.9108018207282913) 13%, rgba(248,254,15,1) 44%);
    /* Colocar igual ao do instagram que vc fez */

}

.logo{
    width: 50px;
    border: 1px solid var(--cor-logo);
    border-radius: 50%;
    box-shadow: 0px 0px 10px var(--cor-logo);
}

.header{
    display: flex;
    background: rgb(247, 212, 18);  
    width: 100vw;  
    /* position: fixed;
    top: 0;   */
    justify-content: center;
    flex-wrap: wrap;
    
}


.menu ul li{
    list-style: none;
    padding: 0;
    display: inline; /* um ao lado do outro */
    border-right: 1px solid var(--cor-logo);
    font-family: 'Architects Daughter', cursive;
    
}

.menu ul li:last-child{
    border-right: none;
   
}

.menu ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    transition: background .4s;
    color: var(--cor-letra);
    
}

.menu ul li a:hover{
    background-color: var(--cor-hover);
    color:var(--cor-hoverL);
    font-weight: bold;
}

.menu ul li a:active{
    color: var(--cor-active);
}

.boxHome{
    width: 50vw;
    height: 50vh;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cor-lhome);
}

.boxDry{
    width: 20vw;
    height: 50vh;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    color: var(--cor-lhome);
}

.boxHypertrophy{
    width: 20vw;
    height: 50vh;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    color: var(--cor-lhome);
}

.boxKeep{
    width: 20vw;
    height: 50vh;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    color: var(--cor-lhome);
}


.boxMonthly{
    width: 30vw;
    height: 50vh;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    color: var(--cor-lhome);

}

.boxYearly{
    width: 30vw;
    height: 50vh;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    color: var(--cor-lhome);


}

.divLogin{
    width: 30vw;
    height: 40vh;
    border: 1px solid green;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center;
    display: flex;
}

.divRegister{
    width: 30vw;
    height: 60vh;
    border: 1px solid green;
    flex-wrap: wrap;  
    align-items: center;
    justify-content: center;
    display: flex;
}




