*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-menu:rgb(247, 212, 18);
    --cor-logo:rgb(197, 197, 197);
    --cor-letra:rgb(54, 54, 54);
    --cor-hover:rgb(49, 49, 49);
    --cor-hoverL:rgb(247, 215, 34);
    --cor-active:rgb(145, 144, 144);
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url('../image/old.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    width: 50px;
    border: 1px solid var(--cor-logo);
    border-radius: 50%;
    box-shadow: 0px 0px 10px var(--cor-logo);
}

.header{
    display: flex;
    background: rgb(247, 212, 18);  
    width: 100vw;  
    /* position: fixed;
    top: 0;   */
}

.menu ul li{
    list-style: none;
    padding: 0;
    display: inline; /* um ao lado do outro */
    border-right: 1px solid var(--cor-logo);
    font-family: 'Architects Daughter', cursive;
}

.menu ul li:last-child{
    border-right: none;
   
}

.menu ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    transition: background .4s;
    color: var(--cor-letra);
}

.menu ul li a:hover{
    background-color: var(--cor-hover);
    color:var(--cor-hoverL);
    font-weight: bold;
}

.menu ul li a:active{
    color: var(--cor-active);
}

/* .menu ul li:last-child a{
    color:var(--cor-active);
    
}  */

